<div class="container mt-5">
  <h1>Ask The Coach!</h1>
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="Ask The Coach!">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
